input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#email , #otp ,#name, #phone, #pswd, #cpswd, #male, #female{

    font-size: 21px ;
}